/* Estilo básico para o AppComponent */
.container {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  
  .content {
    width: 100%;
    max-width: 1200px;
  }
  
  /* Espaçador na barra de ferramentas */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Ajustes na barra de ferramentas */
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  